@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Roboto+Mono&display=swap");
/* --  V A R I A B L E S -- */
/* TITULO HEADER */
/* $bg-color-header:#3d405b; */
/* NAV HEADER */
/* SUBTITULOS PAGINAS h2*/
/* PARRAFOS */
/*  footer */
/*  MAIN */
/* MIXINS */
/*  HTML RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
  max-width: 100%;
  height: 100%;
  min-height: 100vh;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}
header .header-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  font-weight: bold;
}
header .header-logo h1 {
  font-size: 2rem;
}
header .header-img {
  width: 5rem;
  height: 5rem;
}
header .header-img:hover {
  transform: scale(0.5);
  transition: 1s;
}
header .nav-link {
  color: black;
}

/* STYLES MAIN  */
.main {
  min-height: 100%;
  width: 100%;
  font-family: "Roboto Flex", sans-serif;
}
.main .caja {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.main .caja .cajas {
  min-height: 55rem;
  width: 45rem;
  color: black;
  padding: 1.2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  border-radius: 5%;
}
.main .caja .cajas h2 {
  font-size: 3rem;
  font-weight: bold;
}
.main .caja .cajas p {
  text-align: center;
  font-size: 1.7rem;
  line-height: 3rem;
}
.main .caja .cajas .img-main {
  width: 45em;
  height: 25em;
  padding-bottom: 1.5em;
}
.main .caja .cajas button {
  width: 10rem;
  margin-top: 1rem;
  border-radius: 5rem;
  font-size: 1.7rem;
  cursor: context-menu;
}

/* formulario de contacto */
#box-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  height: 100%;
}
#box-form form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  border-radius: 2rem;
}
#box-form form .caja-form h2 {
  font-weight: bold;
  font-size: 3rem;
}
#box-form form .caja-form-name {
  font-size: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
#box-form form .caja-form-name .caja-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  line-height: 2rem;
}
#box-form form .caja-form-name .caja-form .datos {
  max-width: 22rem;
  margin-top: 0.5rem;
  height: 2.7rem;
  border-radius: 2rem;
  text-align: center;
}
#box-form form .caja-form-name .caja-form .asunto {
  max-width: 22rem;
  height: 2.7rem;
  margin-top: 0.5rem;
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
}
#box-form form .caja-form-name .caja-form .caja-msg {
  max-width: 22rem;
  height: 9rem;
  margin-top: 0.5rem;
  border-radius: 2rem;
  padding: 1rem;
  resize: none;
}
#box-form form .caja-form-name .caja-form .button-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

/* FOOTER STYLES */
footer {
  padding: 0.5rem;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  color: black;
  background-color: #bfd7b5;
}
footer h2 {
  font-size: 1rem;
}
footer .icono {
  width: 4.5rem;
  height: 4.5rem;
}
footer .icono:hover {
  transform: scale(0.5);
  transition: 1s;
}

/* ESTILOS BLOG */
.caja-blog .subtitles {
  color: black;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 1rem;
  /* font-size: $subtitles-size;
  font-weight: $subtitles-width;
  color:$subtitles-color; */
}
.caja-blog p {
  font-size: 1.7rem;
  line-height: 3rem;
  padding: 3rem;
  text-align: justify;
  color: black;
}

.blog-link {
  text-decoration: none;
  color: grey;
}

.blog-link:hover {
  color: black;
  background-color: yellow;
}

/* STYLES NOTICIAS */
.subtitles {
  color: black;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 1rem;
  /* font-size: $subtitles-size;
  font-weight: $subtitles-width; */
}

p {
  font-size: 1.7rem;
  line-height: 3rem;
  text-align: justify;
  padding: 3rem;
}

.noticias-img-00 {
  height: 25em;
  width: 55em;
}

.noticias-img-01 {
  height: 30em;
  width: 40em;
}

/* PROYECTOS STYLES */
.subtitles {
  color: black;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 1rem;
}

/* portfolio */
.title-portfolio {
  font-size: 4rem;
  padding-top: 1rem;
  font-weight: bold;
}

.skills {
  font-size: 1.7rem;
}

.caja-skills-main {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1, auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "skills-title" "skills" "contacto";
  width: 100%;
  height: 100%;
}
.caja-skills-main .skills-title {
  font-size: 3rem;
  text-align: center;
}
.caja-skills-main .skills {
  grid-area: "skills";
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "so" "dev" "idioma";
}
.caja-skills-main .skills .so {
  grid-area: "so";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}
.caja-skills-main .skills .dev {
  grid-area: "dev";
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1, auto;
  grid-template-areas: "dev1" "dev2";
}
.caja-skills-main .skills .dev .dev1 {
  grid-area: "dev1";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}
.caja-skills-main .skills .dev .dev2 {
  grid-area: "dev2";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}
.caja-skills-main .skills .idioma {
  grid-area: "idioma";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}
.caja-skills-main .skills .img-portfolio {
  width: 10rem;
  height: 10rem;
}
.caja-skills-main .contacto {
  grid-area: "contacto";
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 991px) {
  .header-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    margin: 1rem auto 1rem;
  }
}
@media (max-width: 770px) {
  .caja-skills-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
  }
  .caja-skills-main .skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
  }
  .caja-skills-main .skills .so {
    margin-bottom: 2rem;
  }
  .caja-skills-main .skills .dev {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
  }
  .caja-skills-main .skills .dev .dev1 {
    margin-bottom: 1rem;
  }
  .caja-skills-main .skills .contacto {
    margin-bottom: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
