@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Roboto+Mono&display=swap");
/* --  V A R I A B L E S -- */
/* TITULO HEADER */
/* $bg-color-header:#3d405b; */
/* NAV HEADER */
/* SUBTITULOS PAGINAS */
/* PARRAFOS */
/*  footer */
/*  MAIN */
/* MIXINS */
/*  HTML RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  max-width: 100%;
  min-height: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  background-color: #bfd7b5;
}
header .header-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  font-weight: bold;
}
header .header-logo h1 {
  color: black;
  font-size: 2rem;
}
header .header-img {
  width: 5rem;
  height: 5rem;
}
header .nav-link {
  color: black;
}

/* STYLES MAIN  */
.main {
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto Flex", sans-serif;
  background-color: white;
}
.main .img-main {
  width: 30em;
  height: 25em;
  padding-bottom: 1.5em;
}

.cajas {
  color: black;
  padding: 1.2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  border-radius: 5%;
}
.cajas .cajas h2 {
  font-weight: bold;
}
.cajas p {
  text-align: center;
  font-size: 1.7rem;
  line-height: 3rem;
}
.cajas button {
  margin-top: 1rem;
  border-radius: 7%;
  border-radius: 5rem;
}

/* formulario de contacto */
#box-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  background-color: white;
}
#box-form form {
  height: 40rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  border-radius: 2rem;
}
#box-form form .caja-form h2 {
  text-align: center;
  align-content: center;
  margin-top: 1rem;
  font-weight: bold;
}
#box-form form .caja-form-name {
  font-size: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
#box-form form .caja-form-name .caja-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  line-height: 2rem;
}
#box-form form .caja-form-name .caja-form .datos {
  max-width: 22rem;
  margin-top: 0.5rem;
  height: 2.7rem;
  border-radius: 2rem;
  text-align: center;
}
#box-form form .caja-form-name .caja-form .asunto {
  max-width: 22rem;
  height: 2.7rem;
  margin-top: 0.5rem;
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
}
#box-form form .caja-form-name .caja-form .caja-msg {
  max-width: 22rem;
  height: 9rem;
  margin-top: 0.5rem;
  border-radius: 2rem;
  padding: 1rem;
  resize: none;
}
#box-form form .caja-form-name .caja-form .button-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

/* FOOTER STYLES */
footer {
  padding: 0.5rem;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  color: black;
  background-color: #bfd7b5;
}
footer h2 {
  font-size: 1rem;
}
footer .icono {
  width: 4.5rem;
  height: 4.5rem;
}

/* ESTILOS BLOG */
.caja-blog h2 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
.caja-blog p {
  font-size: 1.7rem;
  line-height: 3rem;
  padding: 3rem;
  text-align: justify;
  color: black;
}

.blog-link {
  text-decoration: none;
  color: grey;
}

.blog-link:hover {
  color: black;
  background-color: yellow;
}

/* STYLES NOTICIAS */
h2 {
  font-size: 3rem;
  font-weight: bold;
}

p {
  font-size: 1.7rem;
  line-height: 3rem;
  text-align: justify;
  padding: 3rem;
}

.noticias-img-00 {
  height: 25em;
  width: 55em;
}

.noticias-img-01 {
  height: 30em;
  width: 40em;
}

/* portfolio */
.skills {
  font-size: 1.7rem;
}

.portfolio-contacto ul li {
  margin-bottom: 1rem;
}

@media (max-width: 425px) {
  .header-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
