/* --  V A R I A B L E S -- */

/* TITULO HEADER */
$titles-color: black;
$titles-size: 2rem;
$titles-font-family:'Roboto Mono', monospace;
$titles-weight:bold;
/* $bg-color-header:#3d405b; */
$bg-color-header:#bfd7b5;

/* NAV HEADER */
$font-size-nav:1.5rem;
$color-nav-link:black;

/* SUBTITULOS PAGINAS */
$subtitles-color: white;
$subtitles-size: 3rem;
$subtitles-width:bold;
$subtitles-margintop:1rem;

/* PARRAFOS */
$font-size-parrafos: 1.7rem;
$line-height-parrafos:3rem;
$color-parrafo: black;
$paddings:3rem;

/*  footer */
$font-size-footer:1rem;
$color-footer: black;

/*  MAIN */
$bg-color-main:white;
