@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Roboto+Mono&display=swap');
@import "variables";




/*  HTML RESET */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
font-size: 62.5%;
height: 100%;
} 

body{
max-width: 100%;
min-height: 100%;
}


li {
list-style-type: none;
}

a {
text-decoration: none;
}

header {
    width: 100%;
    font-family: $titles-font-family;
    font-size: $font-size-nav;
    background-color: $bg-color-header;

    .header-logo {
      @include flex-row-center;  
      font-weight: $titles-weight;
    }
        
    .header-logo h1 {
    color:$titles-color;
    font-size: $titles-size;
    }
        
    .header-img {
    width: 5rem;
    height: 5rem;
    }

    .nav-link {
    color:$color-nav-link;
    }
     
}

/* STYLES MAIN  */

.main {
    width: 100%;
    min-height: 100vh;
    font-family: 'Roboto Flex', sans-serif;
    background-color: $bg-color-main;
          
    .img-main {
    width: 30em;
    height: 25em;
    padding-bottom: 1.5em;
    }
}

.cajas {
    color:black;
    padding: 1.2rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    @include flex-colum-center;
    border-radius: 5%;
     
    
    .cajas h2 {
        font-size: $subtitles-size;
        font-weight: $subtitles-weight;
        
    }

    p {
    text-align: center;
    font-size: $font-size-parrafos;
    line-height: $line-height-parrafos;
    
    }
    
    button {
    margin-top: 1rem;
    border-radius: 7%;
    border-radius: 5rem;
    }
}


/* formulario de contacto */
#box-form {
    @include flex-colum-center;
    background-color: white;
        

    form {
        height: 48rem;
        @include flex-colum-center;
         border-radius: 2rem;

        .caja-form h2 {
           font-size: $subtitles-weight;
            font-size: $subtitles-size;

        } 
        
        .caja-form-name {
            font-size: 1.4rem;
            @include flex-row-center;
                        
            .caja-form {      
                @include flex-colum-center;   
                line-height: 2rem;
                    

                .datos {
                    max-width: 22rem;
                    margin-top: 0.5rem;
                    height: 2.7rem;
                    border-radius: 2rem;
                    text-align: center;
                }
                
                .asunto {
                    max-width: 22rem;
                    height: 2.7rem;
                    margin-top: 0.5rem;
                    border-radius: 2rem;
                    padding: 1rem;
                    text-align: center;
                }
            
                .caja-msg {
                    max-width: 22rem;
                    height: 9rem;
                    margin-top: 0.5rem;
                    border-radius: 2rem;
                    padding: 1rem;
                    resize: none;
                }
                        
            
                .button-form {
                    @include flex-row-center;
                }
        
            }
        }    
    }    
}

/* FOOTER STYLES */
footer {
    padding:0.5rem;    
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    color:$color-footer;
    background-color: $bg-color-header;
    
    
    h2 {
    font-size: $font-size-footer;
    }
    
    .icono {
    width: 4.5rem;
    height: 4.5rem;
    }
}   

/* ESTILOS BLOG */

.caja-blog {

    .subtitles {
        @include subtitles;
        /* font-size: $subtitles-size;
        font-weight: $subtitles-width;
        color:$subtitles-color; */
    }

    p {
        font-size: $font-size-parrafos;
        line-height: $line-height-parrafos;
        padding:$paddings;
        text-align: justify;
        color:$color-parrafo;
                
    }


}
.blog-link{
    text-decoration:none;
    color: grey;
}

.blog-link:hover {
    color:black;
    background-color: yellow;
}

/* STYLES NOTICIAS */

.subtitles {
    @include subtitles;
    /* font-size: $subtitles-size;
    font-weight: $subtitles-width; */
   
}

p {

    font-size: $font-size-parrafos;
    line-height: $line-height-parrafos;
    text-align: justify;
    padding: $paddings;
  
}

.noticias-img-00 {
    height: 25em;
    width: 55em;
}
    
.noticias-img-01 {
    height: 30em;
    width: 40em;
    
}

/* PROYECTOS STYLES */

.subtitles {
    @include subtitles;
}

/* portfolio */

.skills {

    font-size: $font-size-parrafos;
}

.portfolio-contacto {
    ul li {
        margin-bottom: 1rem;
    }
}
    
@media (max-width: 425px){
    .header-logo {
        width: 100%;
        @include flex-colum-center;
             
    }
   
} 

